{% extends 'player/base.html.twig' %}

{% block javascripts %}
{% block importmap %}
{{ importmap('script_player') }}
{% endblock %}
{% endblock %}


{% block body %}

<div id="player-container"></div>
{% endblock %}
