{% extends 'base.html.twig' %}



{% block body %}
    <h1>Vérifiez votre boîte mail</h1>
    <p>Si un compte est associé à cette adresse, vous recevrez un email avec un lien pour réinitialiser votre mot de passe.</p>
{% endblock %}
