/*  BODY ******************************************************* */


/* Nav */


#nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(194, 194, 194);
}


#logo-black {
    font-family: "Stanley";
    font-size: 35px;
}

#logo-black a,
#login a {
    color: black;
    text-decoration: none;
}

#logo-black a:hover,
#login a:hover {
    cursor: pointer;
    color: #ffb700;
}


#login i {
    font-size: 33px;
}




/* Catalog */

.block {
    height: 5vh;
}

#books-list {
    width: 90vw;
    justify-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
}

#books-list li {
    width: 90%;
    justify-self: center;
    margin: 20px 0;
}

#books-list li h3 {
    font-size: 17px;
}

#books-list li p {
    font-size: 15px;
}

#books-list li img {
    border-radius: 20px;
}





/* MEDIA QUERIES ******************************************************* */

@media screen and (min-width:1024px) {

    /*  BODY ******************************************************* */


    /* Nav */


    #nav-top {
        width: 50vw;
        justify-self: center;
    }

    #logo-black p {
        font-size: 40px;
    }


    /* Catalog */

    #books-list {
        width: 50vw;
        grid-template-columns: 33% 33% 33%;
    }

}