/*  BODY ******************************************************* */

/* Nav */


#nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgb(194, 194, 194);
}


#favorite-login {
    display: flex;
}



#login {
    margin-left: 50px;
}

#xmark i,
#favorite i,
#login i {
    font-size: 50px;
}