
/* FONT FACE ******************************************************* */




@font-face {
    font-family: "Inter18_Regular";
    src: url(../font/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Stanley";
    src: url(../font/Stanley.otf);
}




/*  RESET ******************************************************* */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter18_Regular";
}


img,
svg,
input,
video {
    width: 100%;
    vertical-align: bottom;
}
